<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>{{ title }}</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/navbar.css">
    
    {% block extra_css %}
    {% endblock %}
</head>
<body style="margin: 80px;">
    <header>
        {% if user_authenticated %}
            {% if new_user == 'true' %}
                <!-- Include navigation bar for new users -->
                {% include 'partials/authenticated_navbar_new_user.html' %}
            {% else %}
                <!-- Include navigation bar for authenticated users -->
                {% include 'partials/authenticated_navbar.html' %}
            {% endif %}
        {% else %}
            <!-- Include navigation bar for non-authenticated users -->
            {% include 'partials/not_authenticated_navbar.html' %}
            <div class="container-fluid">
                {% include 'loginForm.html' %}
            </div>
        {% endif %}
    </header>
    
    



    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

     <!-- Cookie Statement -->
    {#    <script type="text/javascript">#}
{#        var _iub = _iub || [];#}
{#        _iub.csConfiguration = {"siteId":3897044,"cookiePolicyId":34420025,"lang":"en","storage":{"useSiteId":true}};#}
{#    </script>#}
{#    <script type="text/javascript" src="https://cs.iubenda.com/autoblocking/3897044.js"></script>#}
{#    <script type="text/javascript" src="//cdn.iubenda.com/cs/gpp/stub.js"></script>#}
{#    <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>#}
    {% block extra_js %}
    {% endblock %}
</body>
</html>